.result-card {
    background-color: #797a8e;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.result-card:hover {
    background-color: #58596D;
    cursor: pointer;
}