#result-box {
    background-color: #1c1a29;
    margin: 2% auto 10%;
    min-width: 500px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}