body {
    background: #2d2b41;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 0px;
}

/* style of SEARCH part [in result page] */

#search-box {
    display: flex;
    background-color: #1c1a29;
    width: 70%;
    height: 6%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border-radius: 25px;
    margin-top: 0.75%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-input {
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #797a8e;
    background-color: #797a8e;
    width: 60%;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 400px;
}

.search-icon {
    margin: auto;
    flex-grow: 1;
    color: #bbcada;
}

#query {
    max-width: 100%;
    color: white;
    margin: auto;
    border: none;
    flex-grow: 10;
    outline: none;
    background-color: transparent;
}

#query::placeholder {
    color: ghostwhite;
    opacity: 1;
}


#search-form{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#logo {
    width: 5%;
    height: auto;
    margin-left: 50px;
    float: left;
}

span {
    display: inline-block;
    line-height: 65px;
    align-items: baseline;
    margin-left: 50px;
}

input {
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #797a8e;
    background-color: #797a8e;
    width: 50%;
    color: white;
    padding-left: 10px;
}

#search-input:hover {
    background-color: #58596D;
    border-color: #58596D;
}

/* styles of RESULT part */

#result-box {
    background-color: #1c1a29;
    margin: 2% auto 2%;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-card {
    background-color: #797a8e;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
}

.result-card:hover {
    background-color: #58596D;
    cursor: pointer;
}